/* /* .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    align-items:flex-start;
    position: relative;
    
}
.navbar ul{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
} */
body{
    background-color: antiquewhite;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}
table, tbody, td, tr, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        margin: 15px;
      }
      
.container{
display: flex;
justify-content: space-between;
flex-direction: column;
width: 100%;
}
h2{
    width: 100%;
    display: block;
}

.img ,.des{
    background-color:aliceblue;
    margin: 10px;
    width: 50rem;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
}
@media screen and (min-width: 600px) {
    .container{
        flex-direction: row;
    }

}
