body{
    background: url(https://images.rivian.com/2md5qhoeajym/6dI5bpcN5CVTK5fTlW9uW5/3c8fd58c11a9b640a0093d5ab62b433d/Your_electric_adventure_awaits._Reserve_an_R1T_228.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.signup{
text-align: center;}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    
}
.logo{
    margin: 10px;
    padding: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-align: center;
}